body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #0f0c29;
    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
}

#logo {
    width: 20%;
    max-width: 200px;
    display: block;
    margin: 15px auto;
}

#logoText {
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 150%;
}

#logoSlogan {
    text-align: center;
    color: #BDC3C7;
    font-size: 125%;
}

.mainContainer {
    clear: both;
    width: 75%;
    margin: 15px auto;
    border: 10px solid #BDC3C7;
    background-color: #FFFFFF;
}

.post {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.postDate {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #152b9a;
}

.postTitle {
    font-size: 2em;
    text-transform: capitalize;
    color: #2d2d2d;
    text-align: left;
}

.postSub {
    font-weight: 400;
    font-size: 1em;
    padding-left: 8px;
    border-left: 5px solid #BDC3C7;
}

.postText {
    font-weight: 300;
    font-size: 1em;
}

p:last-child {
    padding-bottom: 20px;
    border-bottom: 1px solid #d4dadd;
}